AUS
AUT
BLR
BEL
BGR
CAN
CZE
DNK
EST
FIN
FRATNP
FRACNP
DEUTE
DEUTW
GRC
HUN
ISL
IRL
ISR
ITA
JPN
LVA
LTU
LUX
NLD
NZL_NP
NZL_MA
NZL_NM
NOR
POL
PRT
RUS
SVK
SVN
ESP
SWE
CHE
TWN
UKR
GBR_NP
GBRTENW
GBRCENW
GBR_SCO
GBR_NIR
USA
